$pink: rgba(255, 51, 85, 0.85);
// $pink: #fec5e5;

@mixin dimigo() {
  background: #ec008c;
  background: -webkit-linear-gradient(to right, #ec008c, #fc6767);
  background: linear-gradient(to right, #ec008c, #fc6767);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  font-family: Europa;
  font-size: 1rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: rgba(255, 51, 85, 0.45);
}
::selection {
  background-color: rgba(255, 51, 85, 0.45);
}

.content {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 100000;
}

.section {
  padding: 50px;
  &.dimigo {
    @include dimigo;
    color: white;
  }
  .header {
    font-size: 3rem;
    margin-bottom: 30px;
    font-weight: 600;
    text-align: center;
  }
}

.video {
  .video-container {
    position: relative;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
