@import 'basic';
@import 'nav';
@import 'footer';
@import 'timeline';

header {
  .quote {
    margin: 80px 0;

    .quote-content {
      font-size: 3rem;
      font-weight: 200;
      margin: 20px auto;
      width: 70%;
      text-align: justify;

      @media(max-width: 640px) {
        font-size: 2rem;
      }
    }

    .quote-author {
      width: 70%;
      text-align: right;
      font-size: 1.5rem;
      font-weight: 300;
      margin: 0 auto;
    }
  }

  .who-what-why {
    margin: 80px auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    > div {
      width: 30%;
      .heading {
        display: flex;
        width: 100%;
        justify-content: center;
        span {
          font-size: 1.5rem;
          border-bottom: 2px solid $pink;
        }
      }
      .content {
        margin: 20px 0;
        text-align: justify;
        line-height: 1.6rem;
        font-weight: 300;
      }
      .content,
      .content strong {
        font-size: 1.2rem;
      }
    }

    @media(max-width: 1024px) {
      align-items: center;
      flex-direction: column;

      > div {
        width: 100%;
        max-width: 400px;
      }
    }
  }
}

.section.team {
  background: #fafafa;
  .header {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  .cards {
    display: flex;
    max-width: 1200px;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    .card {
      margin: 30px 0;
      width: 47%;
      display: flex;
      justify-content: space-between;
      background: #fff;
      border: none;
      border-radius: 20px;
      padding: 40px;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.06);
      transition: all 250ms ease;
      cursor: pointer;
      &:hover {
        transform: translateY(-15px);
      }
      .img {
        width: 42%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 90%;
          height: auto;
          border: none;
          border-radius: 500px;
        }
      }
      .info {
        width: 52%;
        .name {
          font-weight: 600;
          font-size: 1.7rem;
        }
        .designation {
          font-size: 1.1rem;
          color: #bbb;
          margin-bottom: 20px;
        }
      }
    }
  }
  @media(max-width: 1152px) {
    padding-left: 0;
    padding-right: 0;

    .cards {
      width: 100%;
      justify-content: center;

      .card {
        width: calc(100% - 3rem);
        margin: 1.5rem;
        max-width: 600px;
      }
    }
  }

  @media(max-width: 640px) {
    .cards .card {
      flex-direction: column;
      justify-content: center;

      .img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
        width: 100%;
        max-width: 300px;
      }

      .info {
        width: 100%;
      }
    }
  }
}

.section.chapters {
  background: #fafafa;
  p {
    max-width: 800px;
    width: 95%;
    margin: 20px auto;
    text-align: center;
  }

  .chapter {
    max-width: 600px;
    width: 95%;
    margin: 40px auto;
    &:last-child {
      margin-bottom: 0;
    }
    > .name {
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
      margin-bottom: 40px;
    }
    .members {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .member {
        padding: 20px;
        background: #fff;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.06);
        border-radius: 20px;
        max-width: 250px;
        display: flex;
        align-items: center;
        flex-direction: column;
        transition: all 250ms ease;
        margin: 1rem;
        cursor: pointer;

        &:hover {
          transform: translateY(-15px);
        }

        img {
          height: 200px;
          width: 200px;
          border-radius: 500px;
        }

        > .name {
          margin: 20px 0;
          text-align: center;
          font-size: 1.2rem;
        }
      }
    }
  }
}
