@import 'basic';
@import 'nav';
@import 'footer';

header {
  .quote {
    margin: 80px 0;

    .quote-content {
      font-size: 3rem;
      font-weight: 200;
      margin: 20px auto;
      width: 70%;
      text-align: justify;
    }

    .quote-author {
      width: 70%;
      text-align: right;
      font-size: 1.5rem;
      font-weight: 300;
      margin: 0 auto;
    }
  }

  .who-what-why {
    margin: 80px auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    > div {
      width: 30%;
      .heading {
        font-size: 1.5rem;
        text-align: center;
      }
      .content {
        margin: 20px 0;
        text-align: justify;
        line-height: 1.6rem;
        font-size: 1.2rem;
        font-weight: 300;
      }
    }
  }
}

.section.timeline {
  height: 300px;
  width: 100%;
  background: rgba(255, 17, 81, 0.6);
}

.section.team {
  background: #fafafa;
  .cards {
    display: flex;
    max-width: 1200px;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    .card {
      margin: 30px 0;
      width: 47%;
      display: flex;
      justify-content: space-between;
      background: #fff;
      border: none;
      border-radius: 20px;
      padding: 40px;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.06);
      transition: all 250ms ease;
      cursor: pointer;
      &:hover {
        transform: translateY(-15px);
      }
      .img {
        width: 42%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 90%;
          height: auto;
          border: none;
          border-radius: 500px;
        }
      }
      .info {
        width: 52%;
        .name {
          font-weight: 600;
          font-size: 1.7rem;
        }
        .designation {
          font-size: 1.1rem;
          color: #bbb;
          margin-bottom: 20px;
        }
        .description {
        }
      }
    }
  }
}
