@import 'basic';
@import 'nav';
@import 'footer';

header {
  margin-bottom: 1px solid #555;
  background-size: cover;
  padding: 0;

  nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    opacity: 0.65;
    @include dimigo;
  }

  .hero {
    // padding: 50px 0;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    .name {
      font-weight: 800;
      font-size: 4rem;
      margin-bottom: 30px;
      opacity: 0.9;
      padding: 0 3vw;
      text-align: center;

      @media(max-width: 600px) {
        font-size: 3rem;
      }
    }

    .date {
      font-size: 1.9rem;
      font-weight: 500;
      opacity: 0.9;


      @media(max-width: 600px) {
        font-size: 1.2rem;        
      }
      
    }

  }
}

.section.body {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
//   padding-top: 5rem;

  p {
    font-size: 1.6rem;
    margin: 20px 0;

    @media(max-width: 480px) {
      font-size: 1.2rem;
    }
  }
}

.section.three-col {
  padding: 90px 0;
  display: flex;
  justify-content: center;
  background: $pink;
  color: white;

  > div {
    width: 25%;
    .n {
      font-size: 6rem;
      font-weight: 800;
      text-align: center;
      margin-bottom: 30px;

      @media(max-width: 600px) {
        font-size: 4em;        
      }
    }
    .heading {
      font-size: 2rem;
      font-weight: 300;
      text-align: center;
      
      @media(max-width: 600px) {
        font-size: 1.4em;        
      }
    }

    &:first-child {
      border-right: 1px solid white;
    }
    &:last-child {
      border-left: 1px solid white;
    }
  }

  @media(max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;

    > div {
      width: 100%;
      max-width: 320px;
      padding: 3rem 0;

      &:first-child {
        border-right: 0;
        border-bottom: 1px solid white;
      }

      &:last-child {
        border-left: 0;
        border-top: 1px solid white;
      }
    }
  }

  @media(max-width: 600px) {
    > div {
      width: 100%;
      max-width: 320px;
      padding: 1.5rem 0;      
    }
  }

}

.section {
  padding-bottom: 50px;

  .header{
    @media(max-width: 600px) {
      font-size: 2.4em;        
    }
  }
  .references
  {
    height: 90% !important;
  }
  .gallerydiv {
    max-width: 75vw;
    height: 35vw;
    position: relative;
    margin: 0 auto;

    // .reviews{
    //   @media(max-width: 900px) {
    //   width: 100% !important;        
    // }
    .galleryitems {
      width: 80%;
      height: 90%;
      position: relative;
      margin: 0 auto;
      text-align: center;
      > iframe {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        max-width: 960px; 
        max-height: 540px;
      }

      
      


      .written{
        // display: inline-block;
        position: relative;
        // margin-top: 1%;
        width: 70%;
        min-height: 90%;
        text-align: center;
        background: #fff;
        border: none;
        border-radius: 20px;
        padding: 7.5%;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.06);
        transition: all 250ms ease;
        display: none;

        cursor: pointer;
        &:hover {
          transform: translateY(-3px);
        }
        > p{
          color: black;
          font-size: 1.4em;

          @media(max-width: 800px) {
            font-size: 1.2em;        
          }

          @media(max-width: 450px) {
            font-size: 1em;        
          }
          
        }

        .author
        {
          margin-top: 10%;
        }

        &.active{
          display: inline-block !important;
        }

        @media(max-width: 900px) {
          width:100%;        
        }
      }


    }

    .controls {
      z-index: 100000;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 3rem;
        height: 100%;
        line-height: 100%;
        min-width: 5rem;
        width: 7.5%;
        cursor: pointer;
        text-shadow: 0 0 0.2rem rgba(0,0,0,0.6);
      }
    }
  }
  .control-btns {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;

    > div {
      height: 15px;
      width: 15px;
      border-radius: 50px;
      margin: 10px;
      background: #999;
      cursor: pointer;
      &.active {
        background: #ddd;
      }
    }
  }

  @media(max-width: 750px) {
    padding-left: 0;
    padding-right: 0;

    .gallerydiv {
      max-width: 100%;
      height: 100vw;
    }
  }

  @media(max-width: 500px) {
    .control-btns {
      margin-top: 25px;

      > div {
        height: 10px;
        width: 10px;
      }
    }
  }
}

div.litas {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 200px;
    width: auto;
  }
}

.cards {
    // display: flex;
    max-width: 1000px;
    width: 100%;
    // flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    .card {
      margin: 30px 0;
      width: 100%;
      display: inline-block;
      // justify-content: space-between;
      background: #fff;
      border: none;
      border-radius: 20px;
      padding: 40px;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.06);
      transition: all 250ms ease;
      cursor: pointer;
      &:hover {
        transform: translateY(-5px);
      }

      @media(max-width: 600px) {
        padding: 10px;        
      }
    
      .column {
        float: left;
        padding: 10px;
        font-size: 1.2rem;
      }
      
      .left, .right {
        width: 50%;
        text-align: center;
      }
      
      // .middle {
      //   width: 33.33%;
      //   text-align: center;
      //   background: rgba(235, 99, 121, 0.85);
      //   border-radius: 25px;    
    
      // }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
    
    }

}



  .ghost-button {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-out,
    color 0.2s ease-out;
  }

.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: rgba(235, 99, 121, 0.85);
  transition: background-color 0.3s ease-in,
  color 0.3s ease-in;
}

.sponsors{
  max-width: 1000px;
  margin: 0 auto;
  // text-align: center;
  .sponsor{
    display: block;
    margin: 0 auto;
    max-width: 40%;

    @media(max-width: 500px) {
      max-width: 50%;        
    }

    // @media(max-width: 450px) {
    //   max-width: 60%;        
    // }
  }
}