@import 'basic';
@import 'nav';
@import 'footer';

header {
  background-image: url('/img/masthead.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;

  > * {
    position: relative;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.65;
    @include dimigo;
  }

  .hero {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;

    h1,
    p {
      margin: 0 auto 0 5%;
    }

    h1 {
      font-size: 4rem;
      width: 70%;
    }

    p {
      font-size: 1.9rem;
      line-height: 1.5;
      width: 55%;
      margin-top: 3rem;
    }

    @media (max-width: 640px) {
      h1 {
        width: 90%;
        font-size: 3rem;
      }

      p {
        width: 90%;
        font-size: 1.6rem;
      }
    }
  }
}

.section.mission-statement {
  .video {
    max-width: 900px;
    margin: 30px auto;
  }
  .mission-statement-text {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      display: inline-block;
      font-size: 3rem;
      padding-bottom: 5px;
      border-bottom: 4px solid $pink;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.3rem;
      text-align: justify;
      font-weight: 300;
    }
  }
}

.section.code-with-confidence {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  > div {
    width: 40%;
  }

  .text {
    padding: 0 60px;
    h1 {
      font-size: 2.5rem;
      font-family: Pacifico;
    }
    a {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      text-decoration: none;
    }

    p {
      text-align: justify;
      font-size: 1.3rem;
      font-weight: 300;
      text-align: justify;
    }

    .buttons {
      width: 100%;
      margin: 40px 0;

      .buttons-container {
        display: flex;
        justify-content: center;
      }

      .button {
        margin: 0 10px;
        text-decoration: none;
        padding: 10px 20px;
        color: $pink;
        font-weight: 300;
        background: white;
        border: none;
        border-radius: 5px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    flex-wrap: wrap;

    > div {
      width: 100%;
    }

    .text {
      margin-top: 3rem;

      h1 {
        font-size: 7.125vw;
      }
    }
  }

  @media (max-width: 640px) {
    .text {
      padding: 0;
    }
  }
}
.section.who-what-why {
  margin: 80px auto;
  width: 70%;
  display: flex;
  justify-content: space-around;
  > div {
    width: 30%;
    .heading {
      display: flex;
      width: 100%;
      justify-content: center;
      span {
        font-size: 1.5rem;
        border-bottom: 2px solid $pink;
      }
    }
    .content {
      margin: 20px 0;
      text-align: justify;
      line-height: 1.6rem;
      font-weight: 300;
    }
    .content,
    .content strong {
      font-size: 1.2rem;
    }
  }

  @media (max-width: 1024px) {
    align-items: center;
    flex-direction: column;

    > div {
      width: 100%;
      max-width: 400px;
    }
  }
}

.section.confidence-community-curiosity {
  .container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    > div {
      height: 100%;
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 2rem;
        padding-bottom: 3px;
        border-bottom: 5px solid $pink;
      }

      img {
        width: 80%;
        height: auto;
        margin: 30px 0;
      }

      div {
        font-size: 1.2rem;
        font-weight: 300;
        text-align: justify;
      }
    }

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;

      > div {
        margin-bottom: 2rem;
        width: 100%;
      }
    }
  }
}
