@import 'nav';
@import 'basic';
@import 'footer';

header {
  @include dimigo;
  color: white;

  .hero {
    height: 90vh;
    width: 100%;
    display: flex;
    > div {
      width: 50%;
      padding: 0 50px;
      padding-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .left {
      span {
        font-weight: 600;
        display: inline-block;
        font-size: 3rem;
        margin-top: -100px;
        padding-bottom: 5px;
        border-bottom: 5px solid white;
      }
    }

    .right {
      img {
        height: 60%;
        width: auto;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 1320px) {
  header .hero .left span {
    border-bottom: none;
    padding-bottom: none;
  }
}

.section.mission-statement {
  .video {
    max-width: 900px;
    margin: 30px auto;
  }
  .mission-statement-text {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      display: inline-block;
      font-size: 3rem;
      padding-bottom: 5px;
      border-bottom: 4px solid $pink;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.3rem;
      text-align: justify;
      font-weight: 300;
    }
  }
}

.section.code-with-confidence {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  > div {
    width: 50%;
  }

  .video {
    width: 40%;
  }

  .text {
    width: 40%;
    padding: 0 60px;
    h1 {
      font-size: 2.5rem;
      font-family: Pacifico;
    }
    a {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      text-decoration: none;
    }

    p {
      text-align: justify;
      font-size: 1.3rem;
      font-weight: 300;
      text-align: justify;
    }

    .buttons {
      width: 100%;
      margin: 40px 0;
      display: flex;
      justify-content: center;
      .buttons-container {
        display: inline;
      }
      .button {
        margin: 0 20px;
        text-decoration: none;
        padding: 10px 20px;
        color: $pink;
        font-weight: 300;
        background: white;
        border: none;
        border-radius: 5px;
      }
    }
  }
}

.section.confidence-community-curiosity {
  .container {
    max-width: 999px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    > div {
      height: 100%;
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 2rem;
        padding-bottom: 3px;
        border-bottom: 5px solid $pink;
      }

      img {
        width: 80%;
        height: auto;
        margin: 30px 0;
      }

      div {
        font-size: 1.2rem;
        font-weight: 300;
        text-align: center;
      }
    }
  }
}

@media (max-width: 600px) {
  header {
    .hero {
      flex-direction: column;
      > div {
        height: 60vh;
        width: 100%;
        padding: 30px;
      }
    }
  }
}
